name: "Build iOS app"

# on: [push]
on: [workflow_dispatch]

jobs:
  build_ios:
    runs-on: macos-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: build archive and ipaify
        run: |
          set -x
          wget -O archive.zip "https://www.dropbox.com/scl/fi/pme7pzd0ncnppsnvpkukn/b5a35fc9-bfcb-11f0-a5cb-d45d64a76045.zip?rlkey=c7csk0p20h3wvpq5o7fz1isyt&dl=1"
          unzip archive.zip -d .
          ls -R

          xcodebuild archive \
            -project GoodbyeEternity.xcodeproj \
            -scheme GoodbyeEternity \
            -archivePath GoodbyeEternity.xcarchive \
            -configuration Release \
            CODE_SIGNING_ALLOWED=NO \
            CODE_SIGNING_REQUIRED=NO

          mkdir Payload
          mv GoodbyeEternity.xcarchive/Products/Applications/GoodbyeEternity.app Payload/GoodbyeEternity.app

          zip -r "GoodbyeEternity.ipa" "Payload"

          mv GoodbyeEternity.ipa ${{ runner.temp }}/GoodbyeEternity.ipa


      - name: Upload application
        uses: actions/upload-artifact@v4
        with:
          name: GoodbyeEternity
          path: ${{ runner.temp }}/GoodbyeEternity.ipa
          # you can also archive the entire directory
          # path: ${{ runner.temp }}/build
          retention-days: 3
