# ========== CONFIG ========== #

# You just need to follow the instructions to edit this CONFIG section.

# Dont do anything to this env: word.

env:

  # Everything you need to edit just NAME: and LINK: here to build IPA.

  # Name your app here, it must have the same name in your .xcodeproj, .xcarchive, etc. files.

  NAME: Agent170259 # Change this.

  # Enter the direct download link for the compressed .xcodeproj, .xcarchive, etc. files (into a .zip file) here.

  LINK: https://pixeldrain.com/api/file/5sZB9AE5 # Change this.

# That's it, just run this .yml file.





















# You don't need to worry about or edit anything below; just follow the instructions for editing the CONFIG section above.

# ========== BUILD ========== #

name: "Build iOS Unsigned IPA"

on: [push]

jobs:

  build_ios:

    runs-on: macos-13

    steps:

      - name: Checkout repository

        uses: actions/checkout@v4

      - name: Select Xcode 14
      
        run: |
      
          sudo xcode-select -s /Applications/Xcode_14.3.1.app
      
          xcodebuild -version

      - name: Build archive and ipaify

        run: |

          set -xe

          wget -O archive.zip "${LINK}"

          unzip -o archive.zip -d .

          xcodebuild -list -project "${NAME}.xcodeproj"

          xcodebuild archive \

            -project "${NAME}.xcodeproj" \

            -scheme "${NAME}" \

            -archivePath "${NAME}.xcarchive" \

            -configuration Release \

            CODE_SIGNING_ALLOWED=NO \

            CODE_SIGNING_REQUIRED=NO

          APP_PATH="${NAME}.xcarchive/Products/Applications"/*.app

          mkdir Payload

          mv $APP_PATH Payload/

          zip -r "${NAME}-iOS.ipa" Payload

          mv "${NAME}-iOS.ipa" "${{ runner.temp }}/${NAME}-iOS.ipa"

      - name: Upload application

        uses: actions/upload-artifact@v4

        with:

          name: "${NAME}"

          path: ${{ runner.temp }}/${NAME}-iOS.ipa

          retention-days: 3

# ========== END ========== #
